* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* global */
html {
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
}

h1 {
    line-height: 1;
    padding-left: 0.85em;
    padding-right: 0.85em;
    font-size: 2em;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
}


/* main styles */

.main {
    margin: 4.9em 1.25em 1.25em;
}

/* desc styles */
.desc {
    text-align: center;
    margin-bottom: 1.75em;
}

/* txt styles */
.txt {
    line-height: 1.7;
    font-size: .98em;
    font-weight: 500;
    margin-top: 2em;

    color: hsl(303, 10%, 53%);
}

/* ratings styles */
.ratings {
    margin-top: 2.75em;
    text-align: center;
}

/* rating styles */
.rating {
    padding: .85em;
    margin-bottom: 2.5em;
    background-color: hsl(300, 24%, 96%);
    border-radius: 7px;
}

.rating p {
    margin-top: 1em;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
}

/* cards styles */
.cards {
    padding: 1.45em;
}

/* card styles */
.card {
    border-radius: 7px;
    background-color: hsl(300, 43%, 22%);
    margin-bottom: 1em;
    padding: 2.15em;
    color: hsl(0, 0%, 100%);
}

.card img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    float: left;
    margin-right: 1.5em;
    margin-bottom: 2em;
}

#review {
    line-height: 1.7;
    font-size: .85em;
    margin-top: 1.5em;
    font-weight: 500;
    clear: left;
    color: hsl(0, 0%, 100%);
}

.title {
    padding-top: .25em;
}

.title p {
    color: hsl(333, 80%, 67%);
}

/* @media screen (min-wdith: 747px) {
    
} */