* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* global */
html {
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
}

h1 {
    line-height: 1;
    padding-left: 0.85em;
    padding-right: 0.85em;
    font-size: 2em;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
}


/* main styles */

.main {
    margin: 4.9em 1.25em 1.25em;
}

/* desc styles */
.desc {
    text-align: center;
    margin-bottom: 1.75em;
}

/* txt styles */
.txt {
    line-height: 1.7;
    font-size: .98em;
    font-weight: 500;
    margin-top: 2em;

    color: hsl(303, 10%, 53%);
}

/* ratings styles */
.ratings {
    margin-top: 2.75em;
    text-align: center;
}

/* rating styles */
.rating {
    padding: .85em;
    margin-bottom: 2.5em;
    background-color: hsl(300, 24%, 96%);
    border-radius: 7px;
}

.rating p {
    margin-top: 1em;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
}

/* cards styles */
.cards {
    padding: 1.45em;
}

/* card styles */
.card {
    border-radius: 7px;
    background-color: hsl(300, 43%, 22%);
    margin-bottom: 1em;
    padding: 2.15em;
    color: hsl(0, 0%, 100%);
}

.card img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    float: left;
    margin-right: 1.5em;
    margin-bottom: 2em;
}

.review {
    line-height: 1.7;
    font-size: .85em;
    margin-top: 1.5em;
    font-weight: 500;
    clear: left;
    color: hsl(0, 0%, 100%);
}

.title {
    padding-top: .25em;
}

.title p {
    color: hsl(333, 80%, 67%);
    margin-top: 0.25em;
}

/* media styles */

@media screen and (min-width: 695px) {
    .container {
        padding-right: 2.5em;
        padding-left: 2.5em;
    }
}

@media screen and (min-width: 820px) {
    .container {
        padding-right: 3.5em;
        padding-left: 3.5em;
    }
}

@media screen and (min-width: 1100px) {
    .container {
        padding: 2em;
        margin: 2em;
    }
    .main {
        margin: 3.9em 0em 0em;
        display: grid;
        grid-template-columns: 3fr 4fr;
    }
    .desc {
        align-self: center;
        text-align: left;
        padding-right: 3.5em;
    }
    h1 {
        font-size: 2.7em;
        text-align: left;
        padding: 0;
    }
    .txt {
        margin-top: 1.25em;
    }
    .rating {
        margin-bottom: 1.25em;
    }
    .rating p{
        display: inline-block;
    }
    .ratings {
        margin-top: 1em;
        display: grid;
        grid-template-columns: repeat(2, 1fr) 3fr repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .reviews {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row: 1;
    }
    .guru {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row: 2;
    }
    .best_tech {
        grid-column-start: 3;
        grid-column-end: 6;
        grid-row: 3;
    }
    .cards {
        margin-top: 2em;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1em) 250px repeat(2, 1em) 2em;
        column-gap: 30px;
    }
    .colton {
        grid-row-start: 1;
        grid-row-end: 4;
    }
    .irene {
        grid-row-start: 2;
        grid-row-end: 5;
    }
    .anne {
        grid-row-start: 3;
        grid-row-end: 6;
    }
}